
#_____________________________________________________
# Kicad

# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Back import
*.cmp

# Exported BOM files
*.xml
*.csv


#_____________________________________________________
# Visual Studio
.vs/


#_____________________________________________________
# Specific files

/CAN_Database/ConfigurationMode/*.ini
/CAN_Database/ConfigurationMode/*.stcfg
/CAN_Database/ConfigurationMode/*.cbf
/CAN_Database/NormalMode/*.ini
/CAN_Database/NormalMode/*.stcfg
/CAN_Database/NormalMode/*.cbf
